# App
PORT=3000
NODE_ENV=production

# Docker Hub
DOCKERHUB_USERNAME=your-dockerhub-username
APP_IMAGE_NAME=your-repo-name
IMAGE_TAG=latest

# Grafana admin credentials
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=change-me-in-production
